html{
    font-family: cursive;
    /*background-color: rgb(192, 192, 192);*/
    background-image: url('https://wallpapercave.com/wp/wp11999520.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    border-color: #f4d171;
    background-color: rgb(255, 255, 255);
}
#help{
    background-color: #f1c241;
    border-color: #d9971a;
}

.function{
    background-color: hsl(44, 86%, 52%);
    color:white;
    border-color:#eacc7b;
}
.function:hover{
    background-color: hsl(44, 86%, 57%);
    color:white;
    border-color:#e3bc4f;
}
.function:active{
    background-color: hsl(44, 86%, 62%);
    color:white;
    border-color:#ddab22;
}