html {
    font-family: cursive;
    /*background-color: rgb(192, 192, 192);*/
    background-image: url('https://wallpapers.com/images/featured/1080p-winter-background-6lvlbadsxoxvufa2.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    border-color: rgb(43 154 205);
    background-color: rgb(255, 255, 255);
}

#help {
    background-color: #00b4ff;
    border-color: blueviolet;
}

.function {
    background-color: hsl(229, 54%, 55%);
    color: white;
    border-color: rgb(43 154 205);
}

.function:hover {
    /* hsl(199, 65%, 49%) */
    background-color: hsl(229, 54%, 60%);
    color: white;
    border-color: rgb(43 154 205);
}

.function:active {
    background-color: hsl(229, 54%, 65%);
    color: white;
    border-color: rgb(43 154 205);
}