html {
    /*background-color: rgb(192, 192, 192);*/
    background-image: url('https://wallpapercave.com/wp/8MPL5fJ.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    border-color: rgb(137 103 0);
    background-color: rgb(255, 255, 255);
}

#help {
    background-color: #ff6e00;
    border-color: #d9971a;
}

.function {
    background-color: hsl(35, 88%, 43%);
    color: white;
    border-color: rgb(126 59 10);
}

.function:hover {
    background-color: hsl(35, 88%, 48%);
    color: white;
    border-color: rgb(126 59 10);
        /* rgb(82 40 9) */;
}

.function:active {
    background-color: hsl(35, 88%, 53%);
    color: white;
    border-color: rgb(126 59 10);
        /* rgb(67 34 9) */
}