html {
    /*background-color: rgb(192, 192, 192);*/
    background-image: url('https://pm1.aminoapps.com/7683/f1fcbd00e56db98e02a626eae33b15a0b4381098r1-2048-1536v2_hq.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 115%;
    background-position-x: -15vw;
    background-position-y: -30vh;
}

img {
    border-color: transparent;
    background-color: rgba(255, 255, 255, 0.0);
}

#help {
    background-color: hsla(169.47, 58.76%, 19.02%, 0.75);
    border-color: #81eddf;
}

#help:hover {
    background-color: hsla(169.47, 58.76%, 24.02%, 0.75);
    border-color: #81eddf;
}

#help:active {
    background-color: hsla(169.47, 58.76%, 29.02%, 0.75);
    border-color: #81eddf;
}

.function {
    background-color: hsla(320, 67.74%, 69.61%, 0.75);
    color: white;
    border: solid rgb(206 163 206) 2px;
    padding: 5px;
}

.function:hover {
    /* hsl(199, 65%, 49%) */
    background-color: hsla(320.57deg, 67.74%, 74.61%, 0.75);
    color: white;
    border: solid rgb(206 163 206) 2px;
}

.function:active {
    background-color: hsla(320.57deg, 67.74%, 79.61%, 0.75);
    color: white;
    border: solid rgb(206 163 206) 2px;
}

button#toggle-sidebar {
    border: solid white 1px;
    color: white;
}

button#toggle-sidebar.invert {
    filter: none;
}