@font-face {
    font-family: MSR;
    src: url('/pokemon/assets/fonts/msr.woff2');
}

@font-face {
    font-family: Afacad Flux;
    src: url('/pokemon/assets/fonts/AfacadFlux-Regular.ttf');
}

* {
    transition: 0.5s all;
}

html {
    background-color: rgb(192, 192, 192);
    background-image: url();
    overflow-y: hidden;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

button.imgBtn {
    visibility: hidden;
    width: 600px;
    height: 600px;
}

/* #activator {
    text-align: center;
    border-radius: 10px;
    margin: 0px;
} */

img {
    width: 265px;
    /* background-color: rgb(255, 255, 255); */
    visibility: visible;
    border-radius: 25px;
    transition: 0.5s all;
}

#pkmn {
    width: clamp(200px, 600px, 75vh);
    aspect-ratio: 1 / 1;
    border: solid transparent 3px;
}

#extraForms1 {
    top: 0;
    left: 0;
    position: fixed;
    width: 265px;
}

#extraForms2 {
    top: 0;
    right: 0;
    position: fixed;
    /*width:265px;*/
}

#help {
    background-color: red;
    border-color: blueviolet;
}

#arrow {
    position: fixed;
    left: 0;
    top: 45px;
    background-color: transparent;
    width: 100px;
    border-color: transparent;
}

.function {
    background-color: rgb(67, 78, 126);
    color: white;
    font-style: bold;
    font-family: Afacad Flux;
    /* font-size: 16px; */
    font-size: inherit;
    /* height: 35px; */
    border-radius: 10px;
    border-color: rgb(118, 164, 0);
    border-width: 3px;
    text-align: left;
    margin: 5px;
}

.function:hover {
    background-color: rgb(62, 71, 113);
    color: white;
    font-style: bold;
    border-radius: 10px;
    border-color: rgb(118, 164, 0);
    border-width: 3px;
    text-align: left;
    margin: 5px;
}

.function:active {
    background-color: rgb(53, 60, 92);
    color: white;
    font-style: bold;
    border-radius: 10px;
    border-color: rgb(118, 164, 0);
    border-width: 3px;
    text-align: left;
    margin: 5px;
}

#logContainer,
.search-column {
    text-align: left;
    width: 425px;
    height: 100%;
    overflow-y: scroll;
    position: absolute;
    top: -100%;
    right: 0px;
    background-color: rgba(255, 255, 255, 0.35);
    transform: translateY(0px);
    transition: 0.75s transform, 1s border-bottom-left-radius, 0.4s border-left;
    border-bottom-left-radius: 50px;
    border-left: solid black 0px;
}

#logContainer::-webkit-scrollbar,
.search-column::-webkit-scrollbar {
    display: none;
}

#log {
    /*unnecessary*/
    width: auto;
}

#logItem {
    padding: 5px;
}

#scroller {
    text-decoration: none;
    color: black;
}

/*#pkdxNo{
position: fixed;
top: 0;
right: 0;
background-color: red;
color:white;
font-family:Afacad Flux;
font-style:bold;
font-size:20px;
height:35px;
border-radius: 10px;
border-style:solid;
border-color:purple;
border-width:3px;
}*/
#form-bar {
    height: 45px;
    font-size: 16px;
}

#loading {
    position: absolute;
    background: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: 2s;
    align-items: center;
    /* display: flex; */
    display: none;
}

#loading-bar-container {
    transition: 2s;
    width: 90%;
    height: 100px;
    border: solid white 5px;
    /*border-radius: 50px;*/
    visibility: inherit;
}

#loading-bar {
    width: 0%;
    height: 100%;
    background: white;
    /*border-radius: 25px;*/
    visibility: inherit;
    text-align: center;
    align-items: center;
}

/*#evo, #prevo {
    position: absolute;
    transition: 1s;
    width: 55px;
    height: 40px;
    padding-left: 12px;
    background-size: 155% 150%;
    top: 22.5vw;
}*/

.msr {
    font-family: MSR;
}

#image-container {
    margin-top: 1.5%;
    transition: 0.5s all;
}

#image-container.multiple {
    margin: auto;
    width: 85%;
}

#progress {
    padding-top: 10px;
    font-size: 50px;
}

#sidebar {
    text-align: left;
    transition: 0.5s all;
    padding-right: 35%;
}

div#sidebar-new {
    --p: 0;
    width: calc(300px - 25px - 25px);
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), transparent);
    position: absolute;
    top: 0;
    transform: translateX(-300px);
    transition: 0.5s all;
    padding: 0 25px;
    align-content: center;
}

button#toggle-sidebar {
    font-family: MSR;
    left: 5px;
    top: 5px;
    position: absolute;
    height: 50px;
    width: 50px;
    font-size: 28px;
    text-align: center;
    background: transparent;
    border-radius: 9px;
    z-index: 1;
    border: solid black 1px;
    color: black;
    transition: 0.5s all;
    user-select: none;
    cursor: pointer;
}

.label-header {
    color: white;
    font-family: Afacad Flux;
    padding-left: 5px;
    margin: 4px 0;
    /* font-size: 16px; */
    font-size: inherit;
}

div#name-num {
    background: linear-gradient(45deg, black, transparent);
    border-radius: 20px;
    width: fit-content;
    padding: 10px;
    margin: auto;
    font-size: 16px;
}

div#name-num h1 {
    margin: 0;
}

#messages {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: fit-content;

    /* background: rgba(0, 0, 0, 0.2); */

    color: white;
    /* padding: 10px; */
    text-align: center;
    font-family: Afacad Flux;
    font-size: 20px;
    transition: 0.5s;
}

.msg {
    /* position: fixed;
    top: 0;
    right: 0;
    width: 200px; */
    width: 100%;
    height: fit-content;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 10px;
    text-align: center;
    font-family: Afacad Flux;
    font-size: 20px;
    transition: 0.5s;
    transform: translateX(calc(200px + 20px));
}

.msg button {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.msg span {
    display: block;
    font-size: 16px;
    height: 100%;
    width: 85%;
    font-family: Tahoma;
    text-align: left;
}

.search-column {
    background-color: rgba(255, 255, 255, 0.75);
}

.search-bar {
    width: calc(100% - 6px * 4 - 3px);
    border: solid black 0.1px;
    font-size: 15px;
    margin: 6px;
    padding: 6px;
    border-radius: 4px;
}

.results {
    width: 100%;
    height: calc(97% - 5px);
    overflow-y: scroll;
}

.results::-webkit-scrollbar {
    display: none;
}

.result {
    display: block;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    font-family: 'Afacad Flux';
}

.result:hover,
.result.hovered {
    background-color: rgb(240, 240, 240);
}

.invert {
    filter: invert(1);
}

#close-center-bar {
    position: absolute;
    top: -10px;
    right: -10px;

    display: none;
    /* temporary unless I really don't want it on there */
}

div#info {
    width: 300px;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 10px;
    padding: 30px;
    text-align: left;
    color: white;
    font-family: 'Afacad Flux';
    display: none;
    transform: translateY(150%);
}

div#info span:not(.type) {
    display: block;
    font-size: 23px;
}

h1#info-name {
    margin-top: 0;
    font-size: 27px;
}

#info-next {
    min-height: 3em;
}

#info-num {
    position: absolute;
    top: 30px;
    right: 30px;
}
